<div class="page-header">
  <h1>Your Registration details for Open House</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @open_house.name %></dd>

  <dt>Institute:</dt>
  <dd><%= @open_house.institute %></dd>

  <dt>Branch of study:</dt>
  <dd><%= @open_house.branch_of_study %></dd>

  <dt>Email:</dt>
  <dd><%= @open_house.email %></dd>

</dl>
